{% extends 'diary/base.html' %}


{% block header %}

<div class="mt-4 p-5 bg-light text-black rounded text-center">
    <h2>Lista wpisów</h2>
</div>
{% endblock header %}

{% block content %}
<div class="list-group">
    {% for entry in entries %}
    <a href="{% url 'entry_detail' entry.id %}" class="list-group-item list-group-item-action text-secondary rounded">
        {{ entry }}</a>
    {% empty %}
    <a class="list-group-item text-secondary rounded">Nie został jeszcze dodany żaden wpis.</a>
    {% endfor %}
</div>

<div class="card mt-5">
    <div class="card-header text-center"><a href="{% url 'new_entry' %}" class="card-link text-secondary">Dodaj nowy wpis</a></div>
</div>

{% endblock content %}