{% extends 'diary/base.html' %}

{% block content %}
<div class="mt-4 p-5 bg-light text-black rounded text-center"><h2>My Secret Diary</h2></div>

{% if user.is_authenticated %}
<div class="mt-5">
    <h4>{{ user.username }}, jak się dzisiaj masz?</h4>
</div>
<div>
    <h5 class="mt-3">Chcesz dodać <a href="{% url 'new_entry' %}">nowy wpis</a>?</h5>
    <h5>A może chcesz przejrzeć <a href="{% url 'entry_list' %}">dotychczasowe wpisy</a>?</h5>
</div>
{% else %}
<div class="mt-5">
    <h4>Aplikacja "My secret diary" umożliwia użytkownikowi prowadzenie pamiętnika.</h4>
    <h4>Wpisy dostępne są tylko po zalogowaniu.</h4>
    <h5 class="mt-3">Posiadasz już swój Sekretny Pamiętnik? <a href="{% url 'login' %}">Zaloguj się</a>.</h5>
    <h5>Chcesz posiadać swój własny Sekretny pamiętnik? <a href="{% url 'register' %}">Zarejestruj się</a>.</h5>
    <h4 class="mt-3">Twój pamiętnik gotowy będzie od razu!</h4>
</div>
{% endif %}

{% endblock content %}
