{% extends 'diary/base.html' %}
{% load django_bootstrap5 %}

{% block header %}
<div class="mt-4 p-5 bg-light text-black rounded text-center">
    <h2>Dodaj nowy wpis</h2>
</div>
{% endblock header %}

{% block content %}
<div>
    <form action="{% url 'new_entry' %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form layout='inline' %}
        <div class="pt-3 text-center">
            <button name="submit" class="btn btn-light text-secondary">Dodaj wpis</button>
        </div>
    </form>
</div>
{% endblock content %}